In [17]:

# Import Dependencies from Python - These are the tools we will use for data analysis
import pandas as pd
import numpy as np
import scipy.stats as stats
from matplotlib import pyplot as plt
from config import pgadmin_pass

from sqlalchemy import create_engine
from sqlalchemy.dialects import postgresql # This to read postgresql in python

In [18]:
# Import hthe SQL database into Pandas using create_engine 

engine = create_engine(f'postgresql+psycopg2://postgres:{pgadmin_pass}@localhost:5432/employees_HP')
conn = engine.connect()

In [19]:
# FOR BONUS-> 
# 1. SALARY RANGES PER EMPLOYEE TITLE
# Query All Records in the the Database

data = pd.read_sql('SELECT e.emp_no,t.title, s.salary FROM salaries AS s JOIN employees e \
ON e.emp_no = s.emp_no JOIN title t ON e.emp_title_id = t.title_id', conn)

# Show the 
data.head()

   emp_no            title  salary
0   10005            Staff   78228
1   10010         Engineer   72488
2   10011            Staff   42365
3   10018  Senior Engineer   55881
4   10035  Senior Engineer   41538

In [20]:
# 2. Create a histogram to visualize the most common salary ranges for employees.

%matplotlib inline
hist,bin_edges = np.histogram(np_hist)
plt.hist(data)
plt.show()

NameError: name 'np_hist' is not defined

In [ ]:
3. Create a bar chart of average salary by title