In [1]:

# Import Dependencies from Python - These are the tools we will use for data analysis
import pandas as pd
import numpy as numpy
import scipy.stats as stats
from matplotlib import pyplot as pyplot
from config import pgadmin_pass

from sqlalchemy import create_engine
from sqlalchemy.dialects import postgresql # This to read postgresql in python

In [2]:
# Import hthe SQL database into Pandas using create_engine 

engine = create_engine(f'postgresql+psycopg2://postgres:{pgadmin_pass}@localhost:5432/employees_HP')
conn = engine.connect()

In [4]:
# FOR BONUS-> 
# 1. SALARY RANGES PER EMPLOYEE TITLE
# Query All Records in the the Database

data = pd.read_sql('SELECT s.salary, t.title FROM salaries AS s JOIN employees e \
ON e.emp_no = s.emp_no JOIN title t ON e.emp_title_id = t.title_id', conn)

# Show the 
data.head()

   salary            title
0   78228            Staff
1   72488         Engineer
2   42365            Staff
3   55881  Senior Engineer
4   41538  Senior Engineer

In [ ]:
# 2. Create a histogram to visualize the most common salary ranges for employees.


#

In [ ]:
3. Create a bar chart of average salary by title