In [23]:

# Import Dependencies from Python - These are the tools we will use for data analysis
import pandas as pd
import numpy as np
import scipy.stats as stats
from matplotlib import pyplot as plt
from config import pgadmin_pass

from sqlalchemy import create_engine
from sqlalchemy.dialects import postgresql # This to read postgresql in python

In [24]:
# Import hthe SQL database into Pandas using create_engine 

engine = create_engine(f'postgresql+psycopg2://postgres:{pgadmin_pass}@localhost:5432/employees_HP')
conn = engine.connect()

In [27]:
# FOR BONUS-> 
# 1. SALARY RANGES PER EMPLOYEE TITLE
# Query All Records in the the Database

data = pd.read_sql('SELECT e.emp_no,t.title, s.salary FROM salaries AS s JOIN employees e \
ON e.emp_no = s.emp_no JOIN title t ON e.emp_title_id = t.title_id', conn)

# Show the data on dataframe
data.head(10)

   emp_no            title  salary
0   10005            Staff   78228
1   10010         Engineer   72488
2   10011            Staff   42365
3   10018  Senior Engineer   55881
4   10035  Senior Engineer   41538
5   10043  Senior Engineer   49324
6   10045         Engineer   41971
7   10058     Senior Staff   52787
8   10078         Engineer   47280
9   10081  Senior Engineer   55786

In [26]:
# 2. Create a histogram to visualize the most common salary ranges for employees.

common_salary_emp= data.groupby([])

%matplotlib inline
plt.figure(figsize=[10,8])

plt.bar(bin_edges[:-1], hist, width = 0.5, color='#0504aa',alpha=0.7)
plt.xlim(min(bin_edges), max(bin_edges))
plt.grid(axis='y', alpha=0.75)
plt.xlabel('Value',fontsize=15)
plt.ylabel('Frequency',fontsize=15)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)
plt.ylabel('Frequency',fontsize=15)
plt.title('Normal Distribution Histogram',fontsize=15)
plt.show()

NameError: name 'bin_edges' is not defined

In [ ]:
3. Create a bar chart of average salary by title