In [1]:

# Import Dependencies from Python - These are the tools we will use for data analysis
import pandas as pd
import numpy as np
import scipy.stats as stats
from matplotlib import pyplot as plt
from config import pgadmin_pass

from sqlalchemy import create_engine
from sqlalchemy.dialects import postgresql # This to read postgresql in python

In [2]:
# Import hthe SQL database into Pandas using create_engine 

engine = create_engine(f'postgresql+psycopg2://postgres:{pgadmin_pass}@localhost:5432/employees_HP')
conn = engine.connect()

In [6]:
# FOR BONUS-> 
# 1. SALARY RANGES PER EMPLOYEE TITLE
# Query All Records in the the Database

data = pd.read_sql('SELECT t.title, s.salary FROM salaries AS s JOIN employees e \
ON e.emp_no = s.emp_no JOIN title t ON e.emp_title_id = t.title_id', conn)

# Show the data on dataframe
data.head(10)

             title  salary
0            Staff   78228
1         Engineer   72488
2            Staff   42365
3  Senior Engineer   55881
4  Senior Engineer   41538
5  Senior Engineer   49324
6         Engineer   41971
7     Senior Staff   52787
8         Engineer   47280
9  Senior Engineer   55786

In [7]:
# 2. Create a histogram to visualize the most common salary ranges for employees.

salary_emp= data['salary']
plt.figure(figsize=(18,9))
n,bins,patches = plt.hist(salaries, bins=16, histtype='bar', align='mid', orientation='vertical' rwidth=0.9, 
                          color='green',label='Employees per salary ranges')

plt.xticks(bins, rotation=90)
plt.xlabel('Salary Ranges', fontsize='xx-large',labelpad=10)
plt.ylabel('Frequency',fontsize='xx-large', labelpad=10)
plt.title('HISTOGRAM OF FREQUENCY OF SALARIES')
plt.hist(salary_emp, bins = np.arange(min(salary_emp), max(salary_emp) + 1, 1))

SyntaxError: invalid syntax (<ipython-input-7-854033a9e40c>, line 5)

In [ ]:
# 3. Create a bar chart of average salary by title
grouped_salary_emp= data.groupby(['title'])['salary'].agg('mean')

plt.title('Salary Ranges for Employees Category', loc='center', fontsize='x-large', pad=19) 
plt.show()

In [ ]:
plt.hist(grouped_salary_emp)
%matplotlib inline
plt.figure(figsize=[10,8])

plt.bar(bin_edges[:-1], hist, width = 0.5, color='#0504aa',alpha=0.7)
plt.xlim(min(bin_edges), max(bin_edges))
plt.grid(axis='y', alpha=0.75)
plt.xlabel('Value',fontsize=15)
plt.ylabel('Frequency',fontsize=15)
plt.xticks(fontsize=15)
plt.yticks(fontsize=15)
plt.ylabel('Frequency',fontsize=15)
plt.title('Normal Distribution Histogram',fontsize=15)
plt.show()